

@media (min-width: 1024px)
{
    #inicio_descubre {
        background-attachment: fixed;
    }
}


@media screen and (max-width: 504px) and (min-width:430px) {



    .ourTeam .i .c .wrap .info .name {
      margin: 0;
      font-size: 2.4rem;
      font-weight: 800;
      margin: 0 0 8px 0
    }
  
    .ourTeam .i .c .wrap .info .position {
      /* margin: 0; */
      margin: 10px 20px 15px 20px;
      font-size: 1em;
      color: #03305b9a;
    }
  
    .ourTeam .i .c .more p {
      /* text-align: justify; */
      margin: 0 30px 50px 30px;
      line-height: 1.7em;
    }
  
    .ourTeam .i .c:hover .info {
      top: 0.4rem;
    }
  
    .ourTeam .i .c:hover .more {
      bottom: 0.9rem;
    }
  
  }
  
  @media screen and (max-width: 575px) and (min-width:505px) {
  
    .ourTeam .i .c .wrap .info .name {
      margin: 0;
      font-size: 24px;
      font-size: 2.4rem;
      font-weight: 700;
      margin: 0 0 8px 0
    }
  
    .ourTeam .i .c .wrap .info .position {
      margin: 0;
      font-size: 1em;
      color: #03305b9a;
    }
  
    .ourTeam .i .c .more p {
      margin: 0 40px 140px 40px;
      line-height: 1.7em;
    }
  }
  
  @media screen and (max-width: 767px) and (min-width:575px) {
    .ourTeam .i .c .wrap .info .name {
      margin: 0;
      font-size: 24px;
      font-size: 2.4rem;
      font-weight: 700;
      margin: 0 0 8px 0
    }
  
    .ourTeam .i .c .wrap .info .position {
      margin: 0;
      font-size: 1em;
      color: #03305b9a;
    }
  
    .ourTeam .i .c .more p {
      margin: 0 40px 160px 40px;
      line-height: 1.7em;
    }
  }
  
  @media screen and (max-width: 990px) and (min-width:768px) {
  
    .ourTeam .i .c .wrap .info .position {
      margin: 0;
      font-size: 1em;
      color: #03305b9a;
    }
  
    .ourTeam .i .c .more p {
      margin: 0 18px -25px 18px;
      line-height: 25px
    }
  }
  
  @media screen and (max-width: 1199px) and (min-width:991px) {
    .ourTeam .i .c .wrap .info .name {
      /* margin: 0; */
      font-size: 2.4rem;
      font-weight: 700;
      margin: 0 0 8px 0
    }
  
    .ourTeam .i .c .wrap .info .position {
      margin: 0 0 80px 0;
      font-size: 1em;
      color: #03305b9a;
    }
  
    .ourTeam .i .c .more p {
      margin: 0px 15px -50px 15px !important;
      line-height: 22px;
    }
  
  }
  @media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
      display: none;
    }
  
    .carousel-inner .carousel-item>div:first-child {
      display: block;
    }
  }
  
  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    display: flex;
  }
  
  /* display 3 */
  @media (min-width: 768px) {
  
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
  
    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
  }

  
  @media screen and (max-width: 992px) and (min-width:768px) {
    /* .precios h4 {
      font-size: 1.2rem;
    } */
  
    /* .precios h1 {
      font-size: 1.4rem;
    } */
    .precios .card-header h4 {
      font-size: 1.1em !important;
      letter-spacing: none !important;
      font-weight: bold;
    }
  
    .precios .card-body h1 {
      font-size: 2.3em !important;
      letter-spacing: none !important;
    }
  }



@media screen and (max-width: 991px) and (min-width:768px) {
    .box i {
      font-size: 3.5rem;
    }
  
    .box h4 {
      font-size: 1rem;
    }
  
    .box p {
      font-size: 0.8rem;
    }
  
  }

  

@media (max-width: 768px) {
    .portfolio-details .portfolio-info {
      position: static;
      margin-top: 30px;
    }
  }

  

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
      display: block !important;
    }
  
    .breadcrumbs ol {
      display: block;
    }
  
    .breadcrumbs ol li {
      display: inline-block;
    }
  }

  @media (max-width: 767px) {
    .testimonials {
      margin: 30px 10px;
    }
  }

  

@media (max-width: 1024px) {
    .cta {
      background-attachment: scroll;
    }
  }
  
  @media (min-width: 769px) {
    .cta .cta-btn-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  

@media (max-width: 768px) {
    .features .nav-link i {
      padding: 0;
      line-height: 1;
      font-size: 36px;
    }
  }
  
  @media (max-width: 575px) {
    .features .nav-link {
      padding: 15px;
    }
  
    .features .nav-link i {
      font-size: 24px;
    }
  }


@media (min-width: 1024px) {
    #hero p {
      width: 60%;
    }
  
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
      width: 5%;
    }
  }
  
  @media (max-width: 768px) {
    #hero .carousel-container {
      height: 90vh;
    }
  
    #hero h2 {
      font-size: 28px;
    }
  }


@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
      left: -90%;
    }
  
    .nav-menu .drop-down .drop-down:hover>ul {
      left: -100%;
    }
  
    .nav-menu .drop-down .drop-down>a:after {
      content: "\ea9d";
    }
  }

  

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }